html {
    font-size:16px;
}
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	/*added flexbox layout below as per instructions*/
	display: flex;
  justify-content: center;
  align-items: center;
	/*#ed7864 soft red background color to help troubleshoot flexbox styles*/
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	/*added flexbox layout below as per instructions*/
	display: flex;
  justify-content: center;
  align-items: center;
	/*added flex-flow style as per instructions*/
	flex-flow: row wrap;
	/*#6495ed blue background color to help troubleshoot*/

}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
  /*removed border-bottom and added to image*/
	margin: 0 auto;
	/*added flexbox layout below as per instructions*/
	display: flex;
  justify-content: center;
  align-items: center;
	/*#ed6495 pink background color to help troubleshoot*/
	flex-direction: column;

	}

header h1 {
  margin: 0;
	padding: 28px 0;
  border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
  /*adjusted padding*/
	padding: 10px 0px;
}
header nav ul {
	margin: 0;
	padding: 0;

}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 30px;
	/*changed display to flex*/
	display: flex;

}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	/*added flexbox layout below as per instructions*/
	display: flex;
  justify-content: center;
  align-items: center;
}

.top-section{
	/*add #64edbc green background color to help troubleshoot*/
	flex-flow: row wrap;
  /* added padding*/
  padding: 10px 30px;
}

.bottom-section{
	/*add #bc64ed; purple background color to help troubleshoot*/
	flex-direction: column;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
  /*added border-top to image*/
  border-top: 3px solid #77a466;

}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.section-two {}
  /*removed left and right borders*/

.section-one h3,
  /*added section-one*/
.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
  /*modified padding for menu list in .section-two*/
	padding: 10px 30px;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	/*added flexbox layout below as per instructions*/
	display: flex;
  justify-content: center;
  align-items: center;
	/*add #edbc64 gold background color to help troubleshoot*/
	/*not adding flex-flow as default as row no wrap*/
  width: 100%;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}
